/* Reset margin/padding mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Đảm bảo body không có viền trắng */
body, html {
  margin: 0;
  padding: 0;
}

:root{
    --blue: #2557A7;
    --blue-hover:#2f71da;
}